@use "~/styles/variables" as *;

.mainFiltersContainer {
    width: 300px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 $border-color;
    display: flex;
    flex-direction: column;
    padding: $spacing-lg;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.filters {
    padding-top: $spacing-sm;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    h1 {
        font-weight: 500;
    }
}

.filterBtn {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $border-color;
    color: rgb(40, 40, 40);
    border-radius: 6px;
    justify-content: space-between;
}

.resetFiltersBtn {
    width: 100%;
    border-radius: 6px;
}