@use "~/styles/variables" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    textarea::-webkit-inner-spin-button {
        appearance: none;
    }

    textarea {
        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
        }
    }

    label {
        font-weight: 500;
        color: $text-primary;
    }
}

.inputError {
    border-color: $error-color !important;

    &:focus {
        box-shadow: 0 0 0 2px rgba($error-color, 0.2) !important;
    }
}