@use "~/styles/variables" as *;

.deleteAccountDescription {
    font-size: 15px;
    margin-bottom: $spacing-lg;
    color: gray;
}

.deleteAccountInput {
    input {
        padding: $input-padding;
        border-radius: 12px;
    }
}
