@use "~/styles/variables" as *;

.searchOrCreateProfessor {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: $spacing-3xl;
    max-width: 800px;
}

.title {
    font-size: 34px;
    font-weight: 600;
}

.createProfessorContainer {
    margin-top: $spacing-md;
}