@import "~/styles/variables";

.profilePage {
    width: 100%;
    flex-grow: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 $spacing-xl;
    margin-bottom: $spacing-lg;
}

.profileContent {
    display: flex;
    padding-top: $spacing-lg;
    column-gap: $spacing-md;
    row-gap: $spacing-lg;
    align-items: start;
}

@media only screen and (max-width: 1000px) {
    .profileContent {
        flex-direction: column;
        align-items: center;
    }
}