@import "~/styles/variables";

.startButton {
    width: 100px;
    @include primary-button;
}

.modalContainer {
    max-width: 1200px;
    padding: 0;
    display: flex;
    border: none;
}

.formContainer {
    margin-top: $spacing-2xl;
    width: 50%;
    padding: 20px;
}

.form {
    padding-top: $spacing-md;
}

.formInputContainer {
    margin-bottom: $spacing-md;
}

.imageContainer {
    width: 50%;
}

.image {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}

.countryInputsContainer {
    display: flex;   
    gap: 10px;
}

.countryInput {
    width: 33%;
}

.numberAndPostalCodeContainer {
    display: flex;
    gap: 10px;
}

.numberInput {
    width: 100%;
}