@use "~/styles/variables" as *;

@mixin categorySelected {
   background-color: $button-hover;
   font-weight: bold;
}

.container {
   @include container; 
   height: 40px;
   margin: 0 auto;
   display: flex;
   gap: 30px;
   justify-content: start;
   padding: 0;
}

.filter {
   font-size: 13px;
   display: flex;
   gap: 6px;
   align-items: center;
   border-bottom: none;
}

.categoriesFilter {
   padding: 15px;
}

.categoriesContainer {
   display: flex;
   gap: 20px;
}

.parentCategories {
   width: 400px;
}

.parentCategory {
   white-space: nowrap;
   font-size: 14px;
   padding: 12px;
   border-radius: 6px;
   width: 100%;
   text-align: left;
   display: block;
}

.parentCategory:hover {
   @include categorySelected;
}

.selected {
   @include categorySelected;
}

.categories {
   width: 400px;
}

.category {
   white-space: nowrap;
   font-size: 14px;
   padding: 12px;
   border-radius: 6px;
   width: 100%;
   text-align: left;
   display: flex;
   gap: 10px;
   align-items: center;
}

.category:hover {
   @include categorySelected;
}