@import "~/styles/variables";

.container {
   @include container; 
   height: 40px;
   margin-left: auto;
   display: flex;
   gap: 30px;
}

.filter {
   font-size: 13px;
   display: flex;
   gap: 6px;
   align-items: center;
}

.filter:hover {
   border-bottom: 1px solid black;
}