@import "variables";

html,
body {
     font-family: $font-family;
     margin: 0;
     padding: 0;
}

* {
     box-sizing: border-box;
}

.errorMessage {
     color: $error-color;
     font-size: 0.875rem;
     margin-top: 0.25rem;
}

.successMessage {
     color: $success-color;
     font-size: 0.875rem;
     margin-top: 0.25rem;
}

.errorBorder {
     border: 1px solid $error-color;

     &:focus {
          outline: none !important;
     }
}

.primaryButton {
     @include primary-button;
}

.flexColContainer {
     display: flex;
     flex-direction: column;
     height: 100vh;
}

.property-map-popup {
     .leaflet-popup-content-wrapper {
          .leaflet-popup-content {
               margin: 4px;
               position: relative;
          }
     }
}