@use "~/styles/variables" as *;

.listingCard {
    min-width: 180px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.imageContainer {
    border-radius: 8px;
}

.listingImages {
    padding: $spacing-sm 0 0;
}

.listingHeader {
    padding: $spacing-md 0 $spacing-sm;
}

.listingTitle {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listingContent {
    padding: 0;
}

.listingPrice {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minOrder {
    font-size: 14px;
}

.unitsSold {
    font-size: 13px;
    color: gray;
}

.creator {
    padding-top: $spacing-sm;
    font-size: 13px;
    color: gray;
}

.listingFooter {
    padding: $spacing-md;
    display: flex;
    gap: 10px;
}

.leftButton {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.rightButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1030px) {
    .listingImages {
        padding: $spacing-sm 0 0; 
    }
}