@import "~/styles/variables";

.profilePage {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 $spacing-xl;
    margin-bottom: $spacing-lg;
}

.profileContent {
    display: flex;
    padding-top: $spacing-lg;
    column-gap: $spacing-md;
    align-items: start;
}