@use "~/styles/variables" as *;

@mixin createListingInput {
    padding: $input-padding;
    border-radius: $border-radius;
}

.container {
    width: 100%;
}

.createListing {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    padding-bottom: $spacing-5xl;
    max-width: 700px;
}

.createListingOne {
    padding-top: $spacing-4xl;
}

.createListingOneTitle {
    font-size: 30px;
    font-weight: 600;
}

.optionsContainer {
    margin-top: $spacing-xl;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.option {
    border: 1px solid $border-color;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.label {
    font-size: 16px;
}

.description {
    font-size: 13px;
    color: gray;
}

.createListingTwo {
    padding-top: $spacing-md;
}

.returnButtonContainer {
    padding: 20px;
}

.createListingTwoForm {
    margin-top: $spacing-md;
}

.formInput {
    padding: $spacing-sm 0;
}

.formDescription {
    height: 140px;
    border-radius: 12px;
}

.nextButtonContainer {
    text-align: right;
}

.customOptionsContainer {
    margin-top: $spacing-md;
}

.optionLabel {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
}

.createListingFour {
    max-width: 1000px !important;
}

.createListingFourTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-sm;
}

.listingInformationInput {
    input {
        @include createListingInput;
    }
}

.listingSelectInput {
    button {
        @include createListingInput;
    }
}