@import "~/styles/variables";

.colorImageInput {
    height: 250px;
    width: 100%;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorImageInputButton {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    align-items: center;
    color: gray;
    font-size: 14px;

    svg {
        color: gray;
    }
}

.addColorButtonContainer {
    padding-top: $spacing-md;
}

.colorPalette {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
}

.defaultColorChoices {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: $spacing-sm $spacing-xl; 
    height: 100%;
}

.defaultColor {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    border: 1px solid $border-color;

    &:hover {
        transform: scale(1.1);
    }
}

.customColorContainer {
    width: min-content;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.customColorInput {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: 1px solid $border-color;
        border-radius: 50%;
    }
}

.customColor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.previewContainer {
    width: 40px;
    height: 40px;
}

.colorPreview {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.inputHover {
    background-color: rgb(186, 186, 186);
}