@use "~/styles/variables" as *;

.actions {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    width: inherit;
}

.iconButton {
    &:hover {
        color: $primary-color;
        transition: $transition;
        background-color: transparent !important;
    }
}

.userIconButton {
    gap: 6px;
}

.mobileMenu {
    @include responsive($breakpoint-md) {
        display: none;
    }
}

.dissapearingActionButtons {
    display: none;

    @include responsive($breakpoint-md) {
        display: flex;
    }
}


.loginButton {
    word-break: keep-all;
    white-space: nowrap;
    background-color: #e3e4ff;
    color: $primary-color;

    &:hover {
        opacity: 0.7;
    }
}

.registerButton {
    background-color: $primary-color;

    &:hover {
        background-color: $secondary-color;
    }
}


.iconText {
    font-size: 13px;
    word-break: keep-all;
    white-space: nowrap;
}

.userDropdown {
    width: 200px;
}

.dropdownItem {
    width: 100%;
    border-bottom: 1px solid $border-color;

    &:hover {
        background-color: $button-hover;
    }

    &:last-child {
        border-bottom: none;
    }
}

.dropdownLink {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.profilePicture {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}