@use "~/styles/variables" as *;

.selectLocationMap {
    width: 100%;
    height: 500px;
    border-radius: 6px;
}

.locationQueryResults {
    position: absolute;
    top: 90%;
    width: 100%;
    z-index: 2000;
    background-color: white;
    border: 1px solid $border-color;
    padding: 10px;
    border-radius: 6px;
}

.locationQueryResult {
    display: block;
    padding: 12px;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    font-size: 15px;

    &:hover {
        background-color: $button-hover;
    }
}

.mapContainer {
    position: relative;
}

.radiusSlider {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3000;
    width: 50%;
    display: flex;
    gap: $spacing-sm;

    span {
        font-size: 14px;
    }
}
