@import "~/styles/variables.scss";

.navbar {
    background-color: $background;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.navbarContainer {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1rem;
}

.navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;

   
}

.navItem {
    position: relative;

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem 0;
        display: block;
        transition: color 0.2s ease;

        &:hover {
            color: $secondary-color;
        }
    }

    &.active {
        a {
            color: $secondary-color;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -0.75rem;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $secondary-color;

            @media (max-width: $breakpoint-sm) {
                bottom: -0.5rem;
            }
        }
    }
}