@import "~/styles/variables";

.container {
    width: 100%;
}

.popularListingsContainer {
    padding: 0 50px 20px;
    margin: 0 auto;
}

.popularListingsTitle {
    font-size: 30px;
    font-weight: 500;
}