@use "~/styles/variables" as *;

.inputContainer {
    height: 65px;
    background: transparent;
    display: flex;
    align-items: center;
    padding: $spacing-sm $spacing-lg;
    width: 100%;
}

.inputWrapper {
    background-color: rgb(245, 245, 245);    
    height: 45px;
    padding-left: 18px;
    padding-right: 6px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;

    &:focus-within {
        outline: none;
    }
}

.input {
    font-size: 15px;
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.sendButton {
    border-radius: 50%;
    background: $chat-primary;
    width: 35px;
    height: 35px;
}