@use "~/styles/variables" as *;

.nav {
    background-color: $background-light;
    border-bottom: 1px solid $border-color;
    z-index: 50;
    position: sticky;
    top: 0;
}

.container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-md;
    margin: 0 auto;
    padding: 0 $spacing-xl;
}

.logo {
    h1 {
        font-size: $font-size-xl;
        font-weight: 700;
        color: $logo-color;
    }
}

.menu {
    display: none;
    width: 550px;

    @include responsive($breakpoint-md) {
        display: flex;
        gap: $spacing-xl;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    width: inherit;
}

.iconButton {
    padding: $spacing-sm;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        color: $secondary-color;
        transition: $transition;
    }
}

.mobileMenu {
    @include responsive($breakpoint-mobile) {
        display: none;
    }
}

.dissapearingActionButtons {
    display: none;

    @include responsive($breakpoint-mobile) {
        display: flex;
    }
}


.loginButton {
    word-break: keep-all;
    white-space: nowrap;
}

.registerButton {
    background-color: $primary-color;
}

.registerButton:hover {
    background-color: $secondary-color;
}

.iconText {
    font-size: 13px;
    word-break: keep-all;
    white-space: nowrap;
}