@use "~/styles/variables" as *;

.searchResultsHeader {
    padding: $spacing-lg $spacing-lg 0;

}

.title {
    font-size: 22px;
    font-weight: 600;

    span {
        font-weight: normal;
    }
}

@media only screen and (max-width: 768px) {
    .searchResultsHeader {
        padding: $spacing-lg $spacing-md $spacing-sm;
    }

    .title {
        font-size: 18px;
    }
}