@use "~/styles/variables" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        font-weight: 500;
        color: $text-primary;
    }

    input {
        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
        }
    }
}

.inputError {
    border-color: $error-color !important;

    &:focus {
        box-shadow: 0 0 0 2px rgba($error-color, 0.2) !important;
    }
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}