@import "~/styles/variables";

.container {
    width: 100%;
}

.createListingOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.optionsContainer {
    display: flex;
    gap: 4rem;
}

.option {
    border: 1px solid $border-color;
    padding: 20px;
    border-radius: 6px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform:scale(1.05);
    }
}

.label {
    font-size: 16px;
}

.description {
    font-size: 13px;
    color: gray;
}