@import "~/styles/variables";

.colorInput {
    background-color: rgb(224, 224, 224);
    width: 30px;
    height: 30px;
    border-radius: 6px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 

    svg {
        color: rgb(116, 116, 116);
    }
}

.colorInputContainer {
    padding-top: $spacing-sm;
}