<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    </head>
    <body style="font-family: 'Montserrat', sans-serif; background-color: #f4f4f4; color: #333;">
        <div style="width: 600px; padding: 20px;">
            <div style="border-bottom: 1px solid rgb(194, 194, 194);">
                <h1>{{ sender_name }} te ha enviado un mensaje acerca de "{{ listing_name }}"</h1>
            </div>
            <div style="text-align: center; padding-top: 16px">
                <b>{{ sender_name }}</b>: {{ message }}
            </div>
        </div>
        <div style="padding: 20px; color: gray;">
            <span>Atlana &copy; 2025</span>
        </div>
    </body>
</html>