@use "~/styles/variables" as *;

.hero {
  padding: $spacing-3xl 0;
  background-image: url("/university_students.jpg");
  background-size: cover;
  background-position: center;
}

.heroContainer {
  @include container;
  display: grid;
  gap: $spacing-xl;
  height: 500px;

  @include responsive($breakpoint-md) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.heroContent {
  text-align: center;
  color: white;

  @include responsive($breakpoint-md) {
    text-align: left;
  }

  h1 {
    font-size: $font-size-3xl;
    font-weight: 700;
    margin-bottom: $spacing-md;
    line-height: 1.2;
    text-shadow: $primary-color 1px 0 10px;
    
  }

  p {
    font-size: $font-size-lg;
    color: rgb(255, 255, 255);
    margin-bottom: $spacing-xl;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: $spacing-md $spacing-xl;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease;
  gap: $spacing-sm;

  &Primary {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.heroImage {
  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}
.information {
  padding: $spacing-3xl 0;
  background-color: $background-light;
  margin: 0 auto;
  max-width: 60%;
}

.informationSection {
  display: flex;
  column-gap: $spacing-4xl;
  row-gap: $spacing-xl;
  padding-bottom: $spacing-2xl;
}

.informationSectionReverse {
  flex-direction: row-reverse;
}

.informationImage {
  width: 35%;
  border-radius: 8px;
  display: block;
  object-fit: contain;
}

.informationContent {
  width: 65%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-md;
}

.informationContentTitle {
  font-size: 30px;
  font-weight: 600;
}

.informationList {
  list-style: decimal inside;

  li {
    margin-bottom: $spacing-sm;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1130px) {
  .information {
    max-width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .information {
    max-width: 90%;
  }

  .informationSection {
    flex-direction: column;
  }

  .informationImage {
    width: 100%;
  }

  .informationContent {
    width: 100%;
  }
}