@use "~/styles/variables" as *;

.header {
    height: 55px;
    border-bottom: 1px solid $border-color;
    padding: $spacing-xs $spacing-lg;
    display: flex;
    align-items: center;
    gap: 10px;

}

.chatPicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chatName {
    font-size: 15px;
    font-weight: 500;
}

.backButton {
    display: none;
}

@media only screen and (max-width: 800px) {
    .backButton {
        display: block;
    }

    .header {
        padding: $spacing-xs $spacing-sm;
    }
}