@use "~/styles/variables" as *;

.messageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-xs;
}

.messageWrapper {
    width: 100%;
    display: flex;
    gap: $spacing-sm;
}

.message {
    max-width: 65%;
    display: inline-block;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: 14px;
    border-radius: 20px;

}

.content {
    padding: 6px 12px;
}

.yourMessage {
    background-color: $chat-primary;
    color: white;
}

.otherMessage {
    background-color: $chat-secondary;
    color: black;
}

.seenAt {
    font-size: 11.5px;
    color: gray;
    text-align: right;
    padding-top: $spacing-xs;
}

.replyToListing {
    width: 100%;
    padding: $spacing-sm;
    display: block;

    &:hover {
        opacity: 0.7;
    }
}

.replyToListingContent {
    border-radius: 12px;
}

.listingImage {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    min-width: none;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}

.listingTitle {
    padding: $spacing-sm;
}

.yourListingMsg {
    background-color: $chat-reply-background;

    &:hover {
        background-color: darken($chat-reply-background, 10%);
    }
}

.otherListingMsg {
    background-color: $chat-reply-background-secondary;

    &:hover {
        background-color: darken($chat-reply-background-secondary, 10%);
    }
}

.messageActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-xs;
    height: 100%;
}

.messageActionsContent {
    left: 0;
}

.messageAction {
    border-radius: 50%;
    padding: 2px;
    
    &:hover {
        background-color: $button-hover;
    }
}
