@use "~/styles/variables" as *;

.messageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 65%;
    display: inline-block;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 20px;
    margin-bottom: $spacing-xs;
}

.yourMessage {
    background-color: $chat-primary;
    color: white;
}

.otherMessage {
    background-color: $chat-secondary;
    color: black;
}

.seenAt {
    transition: 1s ease-in-out;
    font-size: 11px;
    color: gray;
    text-align: right;
    margin-bottom: $spacing-xs;
}