.contactContainer {
    min-width: 500px;
    margin: 0 auto;
    padding-top: 60px;
}

.contactTitle {
    font-size: 40px;
    font-weight: 600;
}

.contactDescription {
    font-size: 20px;
    margin-top: 10px;
}