@use "~/styles/variables" as *;

.rating {
    width: 100%;
    display: flex;
    border: 1px solid $border-color;
    gap: $spacing-md;
}

.averages {
    display: flex;
    flex-direction: column;
    padding: $spacing-md;
    gap: $spacing-md;
}

.average {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    align-items: center;
}

.averageBox {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.averageVeryBad {
    color: $one;
}

.averageBad {
    color: $two;
}

.averageMedium {
    color: $three;
}

.averageGood {
    color: $four;
}

.averageVeryGood {
    color: $five;
}

.information {
    padding: $spacing-md;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.courseName {
    font-weight: 500;
    display: flex;
    gap: $spacing-sm;
}

.createdAt {
    font-size: 14px;
}

.characteristics {
    display: flex;
    gap: $spacing-md;
    padding-top: $spacing-sm;
}

.characteristic {
    font-size: 15px;
    span {
        font-weight: 500;
    }
}

.comment {
    margin-top: $spacing-md;
    font-size: 15px;
}

.tags {
    display: flex;
    margin-top: $spacing-xl;
    gap: $spacing-sm;
    flex-wrap: wrap;
}