@use "~/styles/variables" as *;

.professorsListContainer {
    width: 600px;
    flex: 1 0 0;
    min-height: 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 $border-color;
}