@use "~/styles/variables" as *;

.chatsContainer {
    display: flex;
    height: 100%;
}

.chatsList {
    min-width: 400px;
    border-right: 1px solid $border-color;
    overflow-y: auto;
}

.chatsListHeader {
    padding: $spacing-lg;
}

.chatsListTitle {
    font-size: 26px;
    font-weight: 600;
}

.chatListBody {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    overflow-y: auto;
    width: 100%;
    padding: 6px;
}

@media only screen and (max-width: 800px) {
    .show {
        width: 100% !important;
        border-right: none;
        min-width: 0;
    }

    .hide {
        display: none;
    }
}