.banner {
    width: 100%;
    height: 350px; 
}

@mixin bannerStyles {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.bannerImage {
    object-fit: cover;
    @include bannerStyles;
}

.noBanner {
    background-color: rgb(216, 216, 216);
    @include bannerStyles;
}