.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
}


@media only screen and (max-width: 768px) {
    .form {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        height: 100%;
    }
}